{% extends '_base.html'%}
{%include 'index.html'%}
{%block title%}book_detail{%endblock%}
{%block content%}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{books.title}}</h5>
      <p class="card-text">{{books.author}}</p>
      <p class="card-text">{{books.pages}}</p>
      <ul>
        {%for genre in books.genre.all%}
         <li>{{genre.name}}</li>   
        {%endfor%}
      </ul>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{%endblock%}