{% extends '_base.html'%}
{% include 'index.html'%}



{%block content%}

 
    {%for book in books%}
    
        <div class="card" style="width: 18rem;">
          <img src="{{book.image}}" alt="{{books.title}}" width="300" height="400"> 
            <div class="card-body">
              <a href="{% url 'book_detail' book.id%}" class="btn btn-primary">{{book.title}}</a>
              <h6 class="cart-subtitle">by<a href="{{book..author.get_absolute_url}}">{{book.author.fullname}}</a></h6>
              
              <p class="card-text">{{book.description}}</p>
              
              
            </div>
          </div>
    
    {%endfor%}


{%endblock%}