{%extends '_base.html'%}
{% block title%}book list{%endblock%}

{% block content%}
<ul class="books">
    {% for book in books %}
      <li>
        <a href="{% url 'book_detail' book.id%}">{{book.name}}</a>
        <p>Author: {{ book.author }}</p>
        <p>Category: {{ book.category }}</p>
        <p>Published: {{ book.published_at }}</p>
        
        {% if book.image %}
        <img src="{{ book.image.url }}" alt="{{ book.name }}">
    {% endif %}
        <p>---------</p>
      </li>
    {% endfor %}
  </ul>
  
{%endblock content%}